# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Firebase Config (Sensible)
js/firebase-config.js

# Scripts de uso local o migraciones puntuales
scripts/
generate-config.js
*.js.map

# Logs e Ignorados del SO
*.log
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales o de entorno local
.env
.env.local
.env.*.local
.firebase/

